body{
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color:rosybrown;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://plus.unsplash.com/premium_photo-1708968234194-e469448afb2b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bWluaW1hbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin-bottom: 30px;

}
.hero h2{
    font-size:35px;
    margin:0;
}

.hero p{
    font-size:24px;
    margin-top:10px;
}
    

h1{
    text-align:center;
    margin-bottom: 40px;
}
.card.container{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
}
.card{
    width:600px;
    background-color:whitesmoke;
    padding: 20px;
    margin: 10px;
    border: radius 50%;
    border: 8px solid rgb(229, 229, 238);
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    animation:fadein 1s ease forwards;

}
.card:hover{
    transform: translateY(-10px); 
}
.card img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
    border:1px solid beige;
}
.card h2{
    margin-bottom:5px;

}
.card h3{
    font-weight: bold;
    font-size:1rem;
    color:black;
    margin-bottom:15px;    
}
.card p{
    font-size: 1rem;
    color: black;
    margin-bottom: 15px;
}


.btn{
    display:inline-block;
    padding:10px 20px;
    background-color:rgba(28, 88, 167, 0.8);
    color:rgb(253, 254, 255);
    text-decoration: none;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor:pointer;
}
.btn:hover{
    background:#09468b;
}
.member1-card{
    animation-delay: 0.2s;
    background-image: url(https://images.unsplash.com/photo-1635776062043-223faf322554?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Z3JhZGllbnQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww);
    background-size: cover;
    color: black;
    text-align: center;
    border-radius: 16px;
}


